# Ignore binaries, packaged files and temp files
*.pyc
__pycache__
*~
*.egg-info
dist
build

# Ignore all dotfiles . (e.g., .git, .gitignore, .travis.yml, etc...)
.*

# Ignore results
*.pickle

# Ignore doc build files
doc/build
doc/source/apidoc

# Ignore plot files
*.pdf

# Ignore patches
*.patch

# Workloads
resources/workloads

# Local dev folders
notes
secrets
results
