# Ignore binaries and temp files
*.pyc
__pycache__
*~ 

# Ignore all files starting with . (e.g. .classpath, .*project) but not .gitignore
.*
!.gitignore

# Ignore doc build files
doc/build
doc/source/apidoc

# Ignore various files in reproduce results ICN'13
reproduce-results/hashrouting-icn13/logs
reproduce-results/hashrouting-icn13/graphs
reproduce-results/hashrouting-icn13/scenarios/*.xml